.titulo{
    margin-left: 50%;
    margin-bottom: 30px;
}
.text-size{
    font-size: 1.3rem;
}

#titulo-header{
    margin-right: 100px;
    font-size: 1.7rem;
}
.titulo-header{
    margin-right: 100px;
}

#icon-size{
    height: 60px;
    width: 100px;
}

