<ion-header no-border>
  <ion-toolbar color="facebook">
  </ion-toolbar>
</ion-header>

<ion-content> 
<div class="container">
  <ion-avatar class="mx-auto my-5 border border-secondary avatar-size animated fadeIn">
      <img src="../../../assets/img/carnal.jfif">
  </ion-avatar>
  <h1 class="text-center animated fadeIn cls">Disfruta Tu Pedido !</h1>

  <ion-button  size="large" slot="icon-only" class="custom-btn2 animated bounceIn "  color="facebook" (click)="volverInicio()">
      Volver al Inicio <ion-icon  name="finger-print"></ion-icon>
  </ion-button> 
</div>
  
</ion-content>
<app-footer></app-footer>
