// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  // COLORES MODIFICADOS

  --ion-color-menu: #ff8a15;
  --ion-color-menu-rgb: 255,138,21;
  --ion-color-menu-contrast: #ffffff;
  --ion-color-menu-contrast-rgb: 0,0,0;
  --ion-color-menu-shade: #e07912;
  --ion-color-menu-tint: #ff962c;

  --ion-color-facebook: #3b5998;
  --ion-color-facebook-rgb: 59,89,152;
  --ion-color-facebook-contrast: #ffffff;
  --ion-color-facebook-contrast-rgb: 255,255,255;
  --ion-color-facebook-shade: #344e86;
  --ion-color-facebook-tint: #4f6aa2;


  --ion-color-fondo1: #e7e7e7;
  --ion-color-fondo1-rgb: 215,215,215;
  --ion-color-fondo1-contrast: #000000;
  --ion-color-fondo1-contrast-rgb: 0,0,0;
  --ion-color-fondo1-shade: #bdbdbd;
  --ion-color-fondo1-tint: #dbdbdb;

  --ion-color-light2: transparent;
  --ion-color-light2-rgb: transparent;
  --ion-color-light2-contrast: #000000;
  --ion-color-light2-contrast-rgb: transparent;
  --ion-color-light2-shade:transparent;
  --ion-color-light2-tint: transparent;

  --ion-color-toast: #0b9641;
  --ion-color-toast-rgb: 11,150,65;
  --ion-color-toast-contrast: #ffffff;
  --ion-color-toast-contrast-rgb: 255,255,255;
  --ion-color-toast-shade: #0a8439;
  --ion-color-toast-tint: #23a154;

  --ion-color-bgcoral: #ffaa82;
  --ion-color-bgcoral-rgb: 255,170,130;
  --ion-color-bgcoral-contrast: #000000;
  --ion-color-bgcoral-contrast-rgb: 0,0,0;
  --ion-color-bgcoral-shade: #e09672;
  --ion-color-bgcoral-tint: #ffb38f;

  --ion-color-verdeGama: #009933;
  --ion-color-verdeGama-rgb: 0,153,51;
  --ion-color-verdeGama-contrast: #ffffff;
  --ion-color-verdeGama-contrast-rgb: 255,255,255;
  --ion-color-verdeGama-shade: #00872d;
  --ion-color-verdeGama-tint: #1aa347;

  --ion-color-darkframa: #444444;
  --ion-color-darkframa-rgb: 68,68,68;
  --ion-color-darkframa-contrast: #ffffff;
  --ion-color-darkframa-contrast-rgb: 255,255,255;
  --ion-color-darkframa-shade: #3c3c3c;
  --ion-color-darkframa-tint: #575757;



 

  --highlight-height: 2px;


}


.ion-color-menu{
  --ion-color-base: var(--ion-color-menu) !important;
  --ion-color-base-rgb: var(--ion-color-menu-rgb)!important;
  --ion-color-contrast: var(--ion-color-menu-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-menu-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-menu-shade)!important;
  --ion-color-tint: var(--ion-color-menu-tint)!important;
}
.ion-color-facebook{
  --ion-color-base: var(--ion-color-facebook) !important;
  --ion-color-base-rgb: var(--ion-color-facebook-rgb)!important;
  --ion-color-contrast: var(--ion-color-facebook-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-facebook-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-facebook-shade)!important;
  --ion-color-tint: var(--ion-color-facebook-tint)!important;
}
.ion-color-fondo1{
  --ion-color-base: var(--ion-color-fondo1) !important;
  --ion-color-base-rgb: var(--ion-color-fondo1-rgb)!important;
  --ion-color-contrast: var(--ion-color-fondo1-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-fondo1-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-fondo1-shade)!important;
  --ion-color-tint: var(--ion-color-fondo1-tint)!important;
}
.ion-color-light2{
  --ion-color-base: var(--ion-color-light2) !important;
  --ion-color-base-rgb: var(--ion-color-light2-rgb)!important;
  --ion-color-contrast: var(--ion-color-light2-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-light2-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-light2-shade)!important;
  --ion-color-tint: var(--ion-color-light2-tint)!important;
}
.ion-color-toast{
  --ion-color-base: var(--ion-color-toast) !important;
  --ion-color-base-rgb: var(--ion-color-toast-rgb)!important;
  --ion-color-contrast: var(--ion-color-toast-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-toast-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-toast-shade)!important;
  --ion-color-tint: var(--ion-color-toast-tint)!important;
}
.ion-color-bgcoral{
  --ion-color-base: var(--ion-color-bgcoral) !important;
  --ion-color-base-rgb: var(--ion-color-bgcoral-rgb)!important;
  --ion-color-contrast: var(--ion-color-bgcoral-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-bgcoral-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-bgcoral-shade)!important;
  --ion-color-tint: var(--ion-color-bgcoral-tint)!important;
}
.ion-color-verdegama{
  --ion-color-base: var(--ion-color-verdeGama) !important;
  --ion-color-base-rgb: var(--ion-color-verdeGama-rgb)!important;
  --ion-color-contrast: var(--ion-color-verdeGama-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-verdeGama-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-verdeGama-shade)!important;
  --ion-color-tint: var(--ion-color-verdeGama-tint)!important;
}
.ion-color-darkframa{
  --ion-color-base: var(--ion-color-darkframa) !important;
  --ion-color-base-rgb: var(--ion-color-darkframa-rgb)!important;
  --ion-color-contrast: var(--ion-color-darkframa-contrast)!important;
  --ion-color-contrast-rgb:var(--ion-color-darkframa-contrast-rgb)!important;
  --ion-color-shade: var(--ion-color-darkframa-shade)!important;
  --ion-color-tint: var(--ion-color-darkframa-tint)!important;
}